#archives
  & > div:first-child
    min-height "calc(100vh - 176px - %s)" % $nav-height
    margin 0 $body-margin
    margin-bottom 100px
    overflow auto

  .archive-post
    height 24px
    line-height @height * 0.6
    white-space pre