@media screen and (min-width: 750px)
  #sidebar
    will-change transform
    animation slideToLeft 1s

@media screen and (max-width: 750px)
  body
    height initial
    flex-direction column
  .toggle-btn
    display: none
  #sidebar
    width auto
    padding-top 100px
    #site_description
      margin 1em 0
    #copyright
      display none
  main
    & > *:nth-child(2)
      margin-left 0
      overflow hidden
      height inherit !important
      min-height 600px
    nav
      position fixed
      backdrop-filter blur(2px)
      width 100%
      top 0
      padding 0 10px
    #articles
      padding-left 0
    #post
      margin 0 0
      padding 0
      #disqus_thread
        margin-right 0